* {
  padding: 0;
  margin: 0;
}

:root{
  --primary-color: #fff0ba; 
  --border-color: #bd456a;
  --text-color: brown;
}

.box{
  background-color: var(--primary-color);
  margin: 5px;
  padding: 10px;
  border-bottom: 2px solid var(--border-color);
  color: var(--text-color);
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

.box:hover{
  cursor: pointer;
  transform: translateY(-10px);
  transition: transform 0.3s ease-in;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1/ span 2;
}

.grid > *:nth-child(2){
  grid-row: 1 /span 3;
}

.grid > *:nth-child(3){
  grid-column: 1 / span 3;
}

.grid > *:nth-child(4){
  grid-column: 1 /span 2;
}

.grid > *:nth-child(6){
  grid-column: 1 / span 3;
}

/* Grid 2 */
.grid-2{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-2 > *:first-child{
  grid-column: 1 /span 2;
  grid-row: 1 / span 2;
}

.grid-2 > *:nth-child(4){
  grid-column: 1 /span 2;
  grid-row: 3 / span 4;
}

.grid-2 .box{
  border: none;
  background-color: var(--text-color);
  color: var(--primary-color);
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
} 

.grid-2 .box:hover{
  transition: transform 0.2s ease-out;
  transform: translateX(15px);
}

/* Grid 3 */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-3 .box {
  background-color: aliceblue;
  border: none;
  margin-bottom: 15px;
  box-shadow: 5px 5px 2px 1px rgba(23, 27, 25, 0.9);
  /* transform-origin: 12rem; */
}

.grid-3 .box:hover{
  transition: transform 0.3s ease-in;
  transform: skewX(10deg);
}

#east{
  transform: rotate(90deg);
  width: 40px;
  justify-self: center;
  margin-top: 20px;
}

/* Grid 4 */
.grid-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: none;
}

.grid-4 .box{
  margin: 0;
  opacity: 0.8;
  background-image: url(/bg1.jpg);
  background-attachment: fixed;
  border:none;
  color: var(--primary-color)
}

.grid-4 .box:hover{
  transition: all 0.3s ease-out;
  transform: scale(0.9); /*Sorta shrink inwards*/
}